* {
    font-family: "RobotoMono Nerd Font";
    font-size: 16px;
    min-height: 0;
    border: 0;
}

#waybar {
    background: alpha(#191724, 0.5);
    border-bottom: 3px solid  alpha(#cecacd, 0.4);
}

#workspaces {
    border-radius: 5px;
    margin: 5px;
}

#workspaces button {
    color: #e0def4;
    border-radius: 5px;
    padding: 3px;
}

#workspaces button.active {
    background: alpha(#ebbcba, 0.3);
    border-radius: 5px;
    padding: 3px;
}

#workspaces button:hover {
    background: alpha(#524f67, 0.2);
    border-radius: 5px;
    padding: 3px;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-power,
#custom-bluetooth,
#tray {
    color: #e0def4;
    border-radius: 5px;
    padding: 3px;
}

#clock {
    font-weight: bold;
}

#battery {}
#battery icon {
    color: #eb6f92;
}
#battery.charging {}
#battery.warning:not(.charging) {
    color: #f6c177;
}

#cpu {}

#memory {}

#network {}
#network.disconnected {
    background: alpha(#eb6f92, 0.6);
}

#pulseaudio {}
#pulseaudio.muted {}

#tray {}

#custom-power {
    padding-right: 12px;
}
