* {
    font-family: "RobotoMono Nerd Font";
    font-size: 16px;
    min-height: 0;
    border: 0;
}

#waybar {
    background: rgba(40, 40, 40, 0.5);
    border-bottom: 3px solid rgba(152, 151, 26, 0.3);
}

#workspaces {
    border-radius: 5px;
    margin: 5px;
}

#workspaces button {
    color: rgb(235, 219, 178);
    border-radius: 5px;
    padding: 3px;
}

#workspaces button.active {
    background: rgba(152, 151, 26, 0.3);
    border-radius: 5px;
    padding: 3px;
}

#workspaces button:hover {
    background: rgba(197, 201, 197, 0.2);
    border-radius: 5px;
    padding: 3px;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-power,
#custom-bluetooth,
#tray {
    color: rgb(235, 219, 178);
    border-radius: 5px;
    padding: 3px;
}

#clock {
    font-weight: bold;
}

#battery {}
#battery icon {
    color: rgb(204, 36, 29);
}
#battery.charging {}
#battery.warning:not(.charging) {
    color: rgb(196, 116, 110);
}

#cpu {}

#memory {}

#network {}
#network.disconnected {
    background: rgba(204, 36, 29, 0.6);
}

#pulseaudio {}
#pulseaudio.muted {}

#tray {}

#custom-power {
    padding-right: 12px;
}
