* {
    font-family: "RobotoMono Nerd Font";
    font-size: 16px;
    min-height: 0;
    border: 0;
}

#waybar {
    background: alpha(#1a1b26, 1.0);
    border-bottom: 3px solid  alpha(#7aa2f7, 1.0);
}

#workspaces {
    border-radius: 5px;
    margin: 5px;
}

#workspaces button {
    color: #c0caf5;
    border-radius: 5px;
    padding: 3px;
    margin-right: 5px;
}

#workspaces button.active {
    color: alpha(#15161e, 1.0);
    background: alpha(#7aa2f7, 1.0);
    border-radius: 5px;
    padding: 3px;
}

#workspaces button:hover {
    background: alpha(#414868, 1.0);
    border-radius: 5px;
    padding: 3px;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-power,
#custom-bluetooth,
#tray {
    color: #c0caf5;
    border-radius: 5px;
    padding: 3px;
}

#clock {
    font-weight: bold;
}

#battery {}
#battery icon {
    color: #f7768e;
}
#battery.charging {}
#battery.warning:not(.charging) {
    color: #e0af68;
}

#cpu {}

#memory {}

#network {}
#network.disconnected {
    background: alpha(#f7768e, 1.0);
}

#pulseaudio {}
#pulseaudio.muted {}

#tray {}

#custom-power {
    padding-right: 12px;
}
